{% extends 'base_template.html' %}
{% block content %}
 <div id="aboutme"> <p>
    I have always been fascinated with the interface between language and community. I have taught English in Spain and Spanish in the U.S., earned a B.A. in social science, worked with refugees from Nepal, Congo, Ethiopia and Mexico, and played traditional music on stages and at festivals in the U.S. and Galicia.
                </p>
             <p id="secondpar">In continuing my focus on social/entrepreneurial endeavors, this past year I have concentrated on starting a company with the goal of helping people foster meaningful connections. I have come to realize that programming is the nexus of social connectivity, language and technology, and learning to be a good programmer is my current objective.
                </p>
                </div>
{% endblock content %}